body{
     font-family: 'Poppins', sans-serif;
     margin: 0;
}
 .line{
     background-color: coral;
     width: 5px;
     height: 140px;
     margin-top: 70px;
     border-radius: 10px;
 }
.mission-color{
     color: coral;
     margin-top: 3px;
     margin-left: 2px;
     font-size: 60px;
}
.h1mirg{
    
     margin-bottom: 2px;
     margin-left: 2px;
     font-size: 60px;
}
.button{
     text-decoration: none;
     border: solid none;
     border-radius:5px;
     background-image: linear-gradient(red, Yellow );
     color: white;
     padding: 10px 30px;
}
.half-display{
    width: 50%;
}
.classimg{
     width: 700px;
     height: 700px;
     margin-left: 35px;
     margin-bottom: 20px;
}
.mainsection{
     display: flex;
     padding: 100px;
     margin-left: 15px;
}
p{
     color: gray;
     margin-top: 20px;
}
.marjim{
     margin-top: 100px;
}
.second-half-display{
     display: flex;
}
.mission{
     height: 350px;
     width: 350px;
     background-color: rgb(36, 218, 105);
     border-radius: 10px;
     padding: 20px;
     margin-left: 150px;

}
.vission{
     height: 350px;
     width: 350px;
     background-color: aqua;
     border-radius: 10px;
     padding: 20px;
     margin-left: 220px;
}
.Goals{
     height: 350;
     width: 350px;
     background-color: rgb(211, 211, 32);
     border-radius: 10px;
     padding: 20px;
    margin-left: 220px;
}
.develop{
     padding-left: 80px;
     padding-top: 100px;
}
span{
     color: coral;
}
.my-mission{
     text-align: center;
     margin-top: 15px;
}
.iconimg{
     width: 100px;
     height: 100px;
}
.footer{
     width: 100%;
     height: 100px;
     color: white;
     background-color: black;
     text-align: center;
     padding: 15px;
}
.fontstyle{   
     font-family: 'Courier New', Courier, monospace;
}
.ectrawork{
     text-align: center;
     height: 300px;
     width: 750px;
     margin-left: 580px;
}
.extrawork1{
      height: 300px;
     width: 500px;
      margin-left: 240px;
     margin-top: 0;
     text-align: center;
     margin-bottom: 150px;
     border-radius: 10px;
     background-color: wheat;
     padding: 10px;
}
.fontsize{
     font-size: 30px;
}
.textaline{
     text-align: center;
     margin-bottom: 1git50px;
}
.lastbatton{
     text-decoration: none;
     border: solid rgb(39, 38, 38) 3px;
     border-radius: 30px;
     color: white;
     background-color: palevioletred;
     padding: 10px 40px;
}
